 </main>
 <div class="container">
  
  <footer class="row">
  
    
    <div class="copyright col-xs-12 col-sm-3 col-sm-pull-6">© 2020 Copyright:
      Jessica Sánchez Olivas   2020
      
    </div><!-- Ende Copyright -->
    
    <div class="impressum col-xs-12 col-sm-3 col-sm-pull-6">
      4  E <Er>
       Proyecto informativo
    </div><!-- Ende Impressum -->
   
  </footer>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</body>
</html>